<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyu.test.mapper.ExamPaperQuestionsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyu.test.po.ExamPaperQuestions">
        <result column="ExamPaperId" property="ExamPaperId" />
        <result column="QuestionType" property="QuestionType" />
        <result column="QuestionId" property="QuestionId" />
        <result column="Point" property="Point" />
    </resultMap>

</mapper>
